* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #283593;
    height: 40px;
    text-align: center;  
}
 
h1 {
    color: white;
}

.main-container {
   /*  height: 85%; */
    background-color: white;
    display: flex;
}

.city-city-list-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    font-size: 1.2rem;
    /* width: 25%;*/
}

.search-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}

form {
    display: flex;
    flex-direction: column;
}

form input {
    height: 2rem;
    font-size: 1.4rem;
    color: gray
}

form button {
    background-color: #283593;
    color: white;
    margin-top: 10px;
    font-size: 1.4rem;
}

.previous-cities-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.previous-cities-container p {
    text-align: center;
    font-size: 1.2rem;
}

.today-five-day-forecast-container {
    display: flex;
    flex-direction: column;
    /* width: 75%;*/ 
}

.today-weather-container {
    margin: 10px;
    border: 2px solid black;
    font-size: 1.2rem;
}
.today-weather-container h2,
.today-temp,
.today-wind,
.today-humidity,
.today-icon {
    margin-left: 10px;
}

.five-day-forecast-container h3,
.five-day-forecast-container p {
    margin: 10px;
    margin-left: 15px;
}



.today-weather-container {
    border-color: black;
   /* height: 25%; */
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}